@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* share styles */
*{
    margin:0;
    padding: 0;
}
.width{
    max-width: 1160px;
    margin:0 auto;
}
.bg-pic{
    background-image: url("../assets/bg.png");
}
.display-flex{
    display: flex;
   
}
.clr-orange{
    color:orange;
}
.clr-sky-blue{
    color: rgb(15, 171, 233);
}
.clr-third{
    color: #05D4DF;
}
.clr-fourth{
    color:#5D58EF;
}
.hide{
    display:none;
}
/* share styles end */



/* Start Nav Section */
.nav-head{
    
    justify-content: space-between;
    align-items: center;
    
}
.nav-div1{
   justify-content: left;
   align-items: center;
}
.nav-div1 img{
    max-width: 62px;
    height: 62;
    padding: 16px;
}
.nav-heading{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 15px;
}
.nav-div1 .nav-head{
    margin-left:15px;
}
.nav-div2 ul{
    justify-content: space-around;
}
.nav-list{
    margin-left: 20px;
}
.nav-div2 .nav-li{
    list-style-type: none;
}
.nav-list .nav-li{
   margin-right:20px;
    
}
.nav-li .nav-link{
    text-decoration: none;
    font-size:1.25rem;

}
.nav-btn{
    background-color: orange;
    color:white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}


/* banner section start */
.banner-section{

  

}
.banner-main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-title{
    max-width: 640px;
    height: 331px;
 

}

.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;

}
.banner-para{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 27px;


}

.banner-btn{
    font-size: 1.25rem;
    font-weight: 400;
    background-color: black;
    color:white;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;

}
.banner-img{
    
    max-width:469px;
    height: 575px;
    margin-left:50px;
}
img{
    width:100%;
}
/* banner section End */


/* nav mobile Section */
.mobile-section{
    max-width: 390px;
    margin:0 auto;
}
.nav-mobile-div{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-bars{
    font-size: 2rem;
}
 .nav-mobile-div img{
    max-width: 46px;
    height: 46px;
    padding: 12px;
}
hr{
    border: 1px solid orange;
    width: 390px;
}
/* nav mobile section end */

/* responsive Section */
@media screen and (max-width:576px) {
    .nav-head{
        display: none;
    }
    .mobile-section{
        display: block;

    }
    .banner-main{
        flex-direction: column-reverse;
    }
    .banner-title{
    max-width: auto;
    height: auto;
    text-align: center;
    padding: 10px;

    }
    .banner-img{
    margin-right: 50px;
    }
    .banner-section{
    margin-top:30px;

    }
    .banner-btn{
        margin:20px 0px;
    }
  
    
}
